h1 {
    text-align: center; 
}


.todo-item.delition {
    animation: opacity 1s ease-in-out;
}



.todo-item.checked {
    border-radius: 5px;
   
    opacity: 0.3;
}

.description.checked {
    opacity: 0.3;
}

#add-task-btn {
    margin-top: 5px;
}

@keyframes opacity {
    form {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
